.aligncenter {
    text-align: center;
}

table {
    min-width: 700pt;
    border-collapse: collapse;
    /* border: 1px solid black; */
    margin: auto;
    font-size: 18px;
}

td {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */
}

tr:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

#create {
    width: 100pt;
    font-weight: bold;
    padding: 10pt 0 10pt 0;
    border: none;
    border-radius: 9pt;
    cursor: pointer;
    text-align: center;
    border: 1pt solid #000000;
    color: #000000;
    background-color: #ffffff;
}

#create:hover {
    border: 1pt solid #646464;
    background-color: #d4d4d4;
}

.welcome {
    text-align: center;
    font-family: Neue Haas Unica;
    font-weight: 600;
    font-size: 4.0rem;
    color: black;
}